DEBUG="True"
DEPLOY="False"
SKIP_SEEDERS="False"

DATABASE_URL="postgresql://api:api@127.0.0.1:5432/api"
REDIS_URL="redis://127.0.0.1:6379"

JWT_SECRET_KEY="SECRET!!!"
SECRET_KEY="SECRET!!!"

REDIS_SECRET_KEY="api"

FRONTEND_URL="http://localhost:3000"
REQUIRE_EMAIL_VERIFICATION="False"

DEFAULT_FROM_EMAIL="no-reply@localhost"
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.resend.com"
EMAIL_HOST_PASSWORD="APIKEY!!!"
EMAIL_HOST_USER="resend"
EMAIL_PORT="587"
EMAIL_USE_TLS="True"

TOTP_ISSUER="api"

GRANIAN_HOST="127.0.0.1"
GRANIAN_INTERFACE="asginl"
GRANIAN_LOG_ACCESS_ENABLED="1"
GRANIAN_PORT="8080"
GRANIAN_RELOAD_PATHS="src"
GRANIAN_WORKERS="1"
GRANIAN_WORKING_DIR="src"
GRANIAN_WS="0"

DJANGO_SUPERUSER_PASSWORD="password"
DJANGO_SUPERUSER_USERNAME="username"
